.selected-chat :first-child {
    background-color: lightblue;
}

.selected-chat :first-child:hover {
    background-color: lightblue;
}

:any-link {
    text-decoration: none;
    color: rgb(82, 82, 82);
}

.chat_input {
    width: 93%;
    margin-bottom: 2%;
}

#sendChatButton {
    height: 100%;
}

.icon_unread_message {
    float: right;
}

.hidden {
    display: none;
}
