.message {
    border-radius: 10px;
    background-color: lightblue;
    max-width: 200px;
    margin: 10px 0;
    padding: 10px 15px;
}

.message_your {
    float: right;
}

.message__text {
    font-size: 1rem;
}

.message__author {
    font-size: 0.6rem;
    color: grey;
}

.message__time {
    font-size: 0.6rem;
    color: grey;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
